@import url('https://fonts.googleapis.com/css?family=Lato:300');

$gap: 0.25em;

$header-color: #f4f4f4;

.App{
  padding: 50px $gap 0;
}
.navbar{
  margin: 0;
}
/*http://w3bits.com/labs/css-masonry/3/*/

.masonry { /* Masonry container */
  padding: 0;
  -moz-column-gap: $gap;
  -webkit-column-gap: $gap;
  column-gap: $gap;
}

.masonry .block { /* Masonry bricks or child elements */
  display: inline-block;
  padding: 0;
  //margin: 0 0 $gap;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


@media only screen and (min-width: 700px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 1200px) {
  .masonry {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

/*thumbnail caption over image*/
.caption {
  left:0;
  bottom: 0;
  padding: 1.2em;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  font-family: 'Lato', sans-serif;
  h3 {
    font-size: 1em;
    color: $header-color;
    margin: 0;
    padding: 0;
  }
}

.thumbnail{
  position:relative;
  margin-bottom: 0;
  padding: 0;
  cursor: pointer;
}

body.modal-open #root{
  -webkit-filter: blur(3px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}